@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 2vw 'Andika';
    overflow: hidden;
}

div#mouse {
    position: absolute;
    width: 100vw;
    height: 300px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    box-shadow: 0 -2px 7px 3px rgba(0, 0, 0, 0.568);
    border-top: 3px solid rgba(105, 105, 105, 0.712);
}

div#vc {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    right: calc(50% + 35px);
    width: 50%;

    transform: translateY(-50%)
}

div#melhorias {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 100px;

    transform: translateY(-50%);
}

div#mouse img {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    width: 180px;
    transition: width .2s;
    z-index: 1;
    transform: translate(-50%, -50%);
}

@keyframes animacao-neve {
    from {
        background-position: center bottom;
    }

    to {
        background-position: center 70%;
    }
}
