@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Corpo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 2vw 'Andika';
    overflow: hidden;
}

p#versao {
    position: absolute;
    z-index: 1;
}

/*Melhorias adicionais*/

div#adicionais {
    position: absolute;
    top: 0;
    padding: calc(2vw + 10px) 0 0 25px;
    width: 100%;
    height: 100px;
    background-color: rgb(105, 105, 105, 0.712);
    z-index: 0;
}

div#adicionais input[type = image] {
    width: 50px;
}

div.msgAdicional {
    display: none;
    position: absolute;
    background-color: rgb(83, 83, 83);
    top: 118px;
    min-height: 50px;
    min-width: 62px;
    width: auto;
    max-width: 180px;
    padding: 0 13px 13px 0;
    border-radius: 7px;
    z-index: 1;
    opacity: 0;
}

div.trAdicional {
    display: none;
    position: absolute;
    background-color: rgb(83, 83, 83);
    top: -10px;
    height: 30px;
    left: 14px;
    width: 40px;
    transform: rotate(45deg);
    opacity: 0;
}

div.msgAdicional > p.dp {
    position: relative;
    top: 5px;
    left: 5px;
    color: black;
    font: lighter 16px Arial;
}

/*Mouse*/

div#mouse {
    position: absolute;
    width: 100vw;
    height: 300px;
    left: 50%;
    bottom: 0;
    background-color: gray;
    transform: translateX(-50%);
    box-shadow: 0 -2px 7px 3px rgba(0, 0, 0, 0.568);
    border-top: 3px solid rgba(105, 105, 105, 0.712);
}

div#vc {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    right: calc(50% + 35px);
    width: 50%;

    transform: translateY(-50%)
}

/*Melhorias*/

div#melhorias {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 100px;

    transform: translateY(-50%);
}

div#mouse img {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    width: 180px;
    transition: width .2s;
    z-index: 1;
    transform: translate(-50%, -50%);
}

div#mouse > div#melhorias {
    position: absolute;
    height: 100%;
    width: calc(50%);
    padding: 15px 40px 15px 130px;
    right: 0;
}

div#mouse div.melhorias-solo {
    display: inline-block;
    position: relative;
}

div#mouse input.btmelho {
    display: none;
    margin: 10px 0 0 10px;
    width: 35px;
    transition: width .2s;
}

div.msg {
    display: none;
    position: absolute;
    background-color: rgb(83, 83, 83);
    top: 80px;
    min-height: 50px;
    min-width: 62px;
    width: auto;
    max-width: 180px;
    padding: 0 13px 13px 0;
    border-radius: 7px;
    z-index: 1;
    opacity: 0;
}

div.tr {
    display: none;
    position: absolute;
    background-color: rgb(83, 83, 83);
    top: -10px;
    height: 30px;
    left: 14px;
    width: 40px;
    transform: rotate(45deg);
    opacity: 0;
}

div.msg > p.dp {
    position: relative;
    top: 5px;
    left: 5px;
    color: black;
    font: lighter 16px Arial;
}

.destaque {
    font-weight: bold;
    color: white;
}

@keyframes animacao-neve {
    from {
        background-position: center bottom;
    }

    to {
        background-position: center 70%;
    }
}
